<section class="intro">
  <div class="container">
    <p class="lead">Tidak ada teknologi yang sempurna, dan Bukalapak percaya bahwa bekerja sama dengan <strong>security researchers</strong> di seluruh dunia memiliki peran yang sangat krusial dalam mengidentifikasi celah keamanan pada teknologi manapun. Jika anda yakin telah menemukan sebuah <strong>security issue</strong> pada produk dan service Bukalapak, kami mengajak anda untuk melaporkannya. Kami terbuka untuk mendiskusikan dan bekerja sama dengan anda untuk menyelesaikan issue tersebut sesegera mungkin.</p>
  </div>
</section>
