<section class="intro">
  <div class="container">
    <p><strong>TEMUKAN CELAH, DAPAT HADIAH!</strong></p>
    <br>
    <p>Secanggih apapun teknologinya, takkan pernah ada yang terlindungi sempurna. Kami pun merasakan hal yang sama, dan menyadari bahwa <strong>kolaborasi dengan para periset keamanan</strong> punya peran krusial dalam meningkatkan kualitas keamanan kami.</p>
    <br>
    <p>Jika kamu yakin telah menemukan celah keamanan pada produk dan layanan Bukalapak, jangan ragu untuk segera melaporkannya. Dengan senang hati, kami akan <strong>berdiskusi dan bekerja sama</strong> denganmu untuk menyelesaikan masalah itu.</p>
    <br>
    <p>Sebagai wujud penghargaan kami terhadap partisipasimu, kami akan memberikan <strong>imbalan uang untuk setiap laporan celah keamanan yang dapat diproses</strong>. Nilai imbalan bervariasi, tergantung pada tingkat risiko dari celah keamanan yang dilaporkan. Ingat, keputusan pemberian imbalan bersifat mutlak.</p>
  </div>
</section>
