
<nav class="nav">
  <div class="container">
    <h1 class="logo"><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}"> <img src="{{ '/assets/images/bllogo.png' | prepend: site.baseurl | prepend: site.url }}" alt="BL" height="42" width="42"> <span>{{ site.title_right }}</span></a></h1>
    <!--
    <ul class="navbar">
      <li><a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">About me</a></li>
      <li><a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" target="_blank">RSS</a></li>
    </ul>
    -->
  </div>
</nav>
